{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/accounts/profile-details.css" %}">
{% endblock %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  <main>
    <header>
      <h1 class="username">{{ user.username }}</h1>
      {% if user.is_staff %}
        <p class="admin-p">Admin</p>
      {% endif %}
    </header>

    <section>
      <p>Date joined: {{ user.date_joined }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Last login: {{ user.last_login }}</p>

      <a href="#">Recipes created</a>

      {% if request.user.pk == user.pk %}
        	<a href="{% url "saved-recipes" %}">Saved recipes</a>
          <a href="{% url "saved-ingredient" %}">Ingredient's library </a>
      {% endif %}

      <div class="profile-info">
        <h2>Profile info:</h2>

        <p>Bio: {{ user.profile.bio|default:"No Bio" }}</p>
        <p>Location: {{ user.profile.location|default:"No Location" }}</p>
        <p>Birthdate: {{ user.profile.birth_date|date:"d.m.Y"|default:"No Birthdate" }}</p>
        <p>Cooking level: {{ user.profile.cooking_level|default:"No Cooking level" }}</p>

        {% if request.user.pk == user.pk or request.user.is_superuser %}
        	<a href="{% url "edit-profile" user.profile.pk %}">Change profile info</a>
        {% endif %}
      </div>
    </section>
  </main>
{% endblock %}
