{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/accounts/profile-details.css" %}">
{% endblock %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  <main>
    <header>
      <div class="username-wrapper">
        <h1 class="username">{{ user.username }}</h1>

        {% if request.user.pk == user.pk or request.user.is_superuser %}
          <a href="{% url "edit-profile" user.profile.pk %}">
            <img class="edit-icon" src="{% static "images/icon/pencil-icon.svg" %}" alt="edit">
          </a>
        {% endif %}
      </div>

      {% include "common/messages.html" %}

      {% if user.is_staff %}
        <p class="admin-p">Admin</p>
      {% endif %}
    </header>

    <div class="follow-container">
      {% if not request.user == user %}
        <form method="post" action="{% url "follow-user" user.pk %}">
          {% csrf_token %}

          <button class="follow-profile">
            {% if request.user in user.profile.followers.all %}
              Unfollow
            {% else %}
              Follow
            {% endif %}
          </button>
        </form>
      {% endif %}
    </div>

    <section>
      <p>Date joined: {{ user.date_joined }}</p>
      <p>Email: {{ user.email }}</p>
      <p>
        Followers:
        <a class="followers-button" href="{% url "user-followers" user.pk %}">
          {{ user.profile.followers.count }}
        </a>
      </p>
      <p>Bio: {{ user.profile.bio|default:"No Bio" }}</p>
      <p>Location: {{ user.profile.location|default:"No Location" }}</p>
      <p>Birthdate: {{ user.profile.birth_date|date:"d.m.Y"|default:"No Birthdate" }}</p>
      <p>Cooking level: {{ user.profile.cooking_level|default:"No Cooking level" }}</p>

      <div class="likes-container">
        <a class=user-button href="{% url "like-sent" user.pk %}">&#129293; Likes sent</a>
      </div>

      <a class="user-button" href="{% url "recipes-created" user.pk %}">Recipes created</a>

      {% if request.user.pk == user.pk %}
        	<a class="user-button" href="{% url "saved-recipes" %}">Saved recipes</a>
          <a class="user-button" href="{% url "saved-ingredients" %}">Ingredient's library </a>
      {% endif %}
    </section>
  </main>
{% endblock %}
