{% extends "common/base.html" %}

{% load static %}

{% block title %}
	Saved recipes
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/ingredients/saved-ingredients.css" %}">
{% endblock %}

{% block content %}
  <main>
    {% include "common/search-bar.html" %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <section>
      {% if ingredients %}
       <ul class="ingredient-list">
        {% for ingredient in ingredients %}
          <li class="ingredient-item">
            <div class="ingredient-name">
              <a href="{% url "ingredient-details" ingredient.ingredient.slug %}">{{ ingredient.ingredient.name }}</a>
            </div>
            <div class="remove-btn">
              <a href="{% url "remove-ingredient" ingredient.pk %}">Remove</a>
            </div>
          </li>
        {% endfor %}
       </ul>
      {% else %}
        <h1>No Ingredients.</h1>
        <p>If you haven't added any:</p>
        <a class="add-button" href="{% url "add-ingredient" %}">Add ingredient</a>
      {% endif %}
    </section>
  </main>
{% endblock %}