@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "search-bar.css";

.category-header {
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4em;
  color: #e8263f;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-family: 'Segoe UI', sans-serif;
}

.step-links {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #fff8f3;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.step-links a {
  padding: 8px 14px;
  border-radius: 20px;
  background-color: #e8263f;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.step-links a:hover {
  background-color: #c01e34;
}

.step-links .current {
  font-weight: bold;
  padding: 8px 14px;
  background-color: #f2e9e3;
  border-radius: 20px;
  color: #333;
}
