@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "../common/search-bar.css";
@import "../common/pagination.css";

/* Header styling, like the other headers */
.category-header {
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4em;
  color: #e8263f;
  margin-bottom: 30px;
}

