@import "../common/search-bar.css";
@import "../common/pagination.css";
@import "./recipe-cards.css";

/*
  It will be used by multiple templates, because they all have the same structure and style.
*/

h1 {
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
  color: #e8263f;
}

p {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1rem;
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
}

p a {
  color: #e8263f;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

p a:hover {
  color: #c01e34;
  text-decoration: underline;
}

main h2 {
  text-align: center;
  margin: 40px auto;
  font-size: 1.5rem;
  color: #e8263f;
  font-weight: 500;
  font-style: italic;
}


.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .recipe-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .recipe-grid {
    grid-template-columns: 1fr;
  }
}

