{% load static %}

<footer>
  <div class="footer-content">
    <h2>Follow us</h2>

    <div class="social-media-links">
      <a href="https://www.instagram.com/lupo_764/"><img src="{% static 'images/icon/instagram-icon.svg' %}" alt="instagram link"></a>
      <a href="https://www.facebook.com/profile.php?id=100022598765536"><img src="{% static 'images/icon/facebook-icon.svg' %}" alt="facebook link"></a>
      <a href="https://github.com/Mario-Lupo-Ciaponi/Vkusiada" target="_blank"><img src="{% static 'images/icon/github-icon.svg' %}" alt="github link"></a>
      <a href="https://www.youtube.com/@Vkusiada"><img src="{% static 'images/icon/youtube-icon.svg' %}" alt="youtube link"></a>
    </div>
  </div>
</footer>