{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/common/index.css' %}">
  <link rel="stylesheet" href="{% static "css/recipes/search-recipes.css" %}">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <main>
    <article class="category-buttons">
      <a href="{% url "category_recipes" category="Breakfast" %}" class="category-box">
        <img src="{% static 'images/icon/bread-icon.png' %}" alt="bread icon">
        <span>Breakfast</span>
      </a>
      <a href="{% url "category_recipes" category="Salads" %}" class="category-box">
        <img src="{% static 'images/icon/salad-icon.svg' %}" alt="salad icon">
        <span>Salads</span>
      </a>
      <a href="{% url "category_recipes" category="Soups" %}" class="category-box">
        <img src="{% static 'images/icon/soup-icon.png' %}" alt="soup icon">
        <span>Soups</span>
      </a>
      <a href="{% url "category_recipes" category="Entrees" %}" class="category-box">
        <img src="{% static 'images/icon/cloche-icon.png' %}" alt="cloche icon">
        <span>Entrees</span>
      </a>
      <a href="{% url "category_recipes" category="Dessert" %}" class="category-box">
        <img src="{% static 'images/icon/cake-icon.png' %}" alt="dessert icon">
        <span>Dessert</span>
      </a>
      <a href="{% url "category_recipes" category="Vegan" %}" class="category-box">
        <img src="{% static 'images/icon/vegan-icon.png' %}" alt="vegan icon">
        <span>Vegan</span>
      </a>
    </article>


    <section>
      {% if request.user.is_authenticated %}
        {% if recipes %}
          {% include "common/search-bar.html" %}

          {% include "common/messages.html" %}

          <h1>Suggested recipes for you</h1>

          {% include "recipes/recipe-grid.html" %}

          {% include "common/paginator.html" %}
        {% else %}
          <h1>No recipe suggestions...</h1>

          {% include "common/search-bar.html" %}

          <p>
            Try to add some <a href="{% url "add-ingredient" %}">ingredients</a> then you will see all teh delicious recipes
          </p>
        {% endif %}
      {% else %}
        <h1 class="not-authenticated-h1">
          Hey! If you want suggestions based on your ingredients, you need to <a href="{% url "login" %}">Login</a>!
        </h1>
      {% endif %}
    </section>
  </main>
{% endblock %}
