{% load static %}

<nav class="navbar">
  <div class="nav-center">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" alt="Vkusciada Logo">
    </div>
    <ul class="nav-links">
      <li><a href="{% url "index" %}" class="{% if current_page == "index" %}active{% endif %}">Home</a></li>
      <li class="dropdown">
        <a href="#" class="{% if current_page == "ingredients" %}active{% endif %}">Recipe ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{% url "add-ingredient" %}">Add to libray</a></li>
          <li><a href="{% url "create-recipe" %}">Create</a></li>
          <li><a href="{% url "search-recipe" %}">Browse</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="{% if current_page == "ingredients" %}active{% endif %}">Ingredients ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{% url "add-ingredient" %}">Add</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Meats</a></li>
          <li><a href="#">Spices</a></li>
        </ul>
      </li>
      <li><a href="{% url "about-us" %}" class="{% if current_page == "about_us" %}active{% endif %}">About us</a></li>
      <li><a href="{% url "contact" %}" class="{% if current_page == "contact" %}active{% endif %}">Contact</a></li>
    </ul>
    <div class="user-icon">
      <img src="{% static 'images/icon/user-icon.png' %}" alt="User Icon">
    </div>
  </div>
</nav>
