<form class="search-bar" method="get">
  <div class="search-bar-top">
    {% if show_category_field %}
      <div class="category-wrapper">
        {{ search_form.category }}
      </div>
    {% endif %}

    {% if not is_profile_search_bar %}
    	<div class="checkbox-wrapper">
        <label class="checkbox-label">
          {{ search_form.date_added }}
          {{ search_form.date_added.label }}
        </label>
      </div>
    {% endif %}
  </div>

  <div class="input-container">
    {{ search_form.query }}
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="transparent" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/></svg>
    </button>
  </div>
</form>

