{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/ingredients-page-style.css') }}"
/>
{% endblock %} {% block content %}
<div class="ingredients-container">
  {% if ingredients %}
  <h2 class="ingredients-title">Recipes Found</h2>

  {% if recipes %}
  <!-- Recipes Grid -->
  <div class="recipes-grid">
    {% for recipe in recipes %}
    <div class="recipe-card">
      <a href="/recipe/{{ recipe[0] }}" class="recipe-link">
        <img src="{{ recipe[2] }}" alt="{{ recipe[1] }}" class="recipe-image" />
        <div class="recipe-info">
          <h3 class="recipe-name">{{ recipe[1] }}</h3>
          <p class="recipe-desc">A delicious recipe just for you!</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <!-- Message if no recipes are found -->
  <p class="no-recipes-message">
    No recipes found for the ingredients you provided.
  </p>
  {% endif %} {% else %}
  <!-- Message if no ingredients are available -->
  <p class="no-ingredients-message">
    You have no ingredients. Please
    <a href="/add-ingredients" class="add-ingredients-link"
      >add some ingredients</a
    >
    first.
  </p>
  {% endif %}
</div>
{% endblock %}
