{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/saved-recipes.css') }}"
/>
{% endblock %} {% block content %}
<div class="saved-recipes-container">
  <h1>Saved Recipes</h1>

  {% if recipes %}
  <ul>
    {% for recipe in recipes %}
    <li>
      <strong>{{ recipe.recipe_name }}</strong><br />
      <em>Saved on: {{ recipe.timestamp }}</em><br />
      <p>
        {{ recipe.instructions if recipe.instructions else "No instructions
        available." }}
      </p>
      <!-- More Details Button -->
      <a
        href="{{ url_for('recipe_detail', recipe_id=recipe.recipe_id) }}"
        class="details-button"
        >More Details</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You have no saved recipes.</p>
  {% endif %}
</div>
{% endblock %}
