{% load static %}

{% load has_group %}

<section class="comment-section">
    <h2>Comments({{ recipe.comments.count }}):</h2>
    <form class="comment-form" method="post">
      {% csrf_token %}
      {{ form }}
      <button>Add</button>
    </form>

    {% for comment in recipe.comments.all %}
      <article id="{{ comment.pk }}">
        <a href="{% url "account-details" comment.author.pk %}">
          <img src="{% static "images/icon/user-icon.png" %}" alt="user-icon">
        </a>

        <div class="content-text">
          <div class="content-header">
            <p class="comment-author">{{ comment.author }}</p>
            <p class="comment-date">{{ comment.added_on|date:"d.m.Y H:i" }}</p>
          </div>

          <p class="comment-content">{{ comment.content }}</p>

          {% if request.user.pk == comment.author.pk or request.user.is_superuser or  request.user|has_group:"Comment Moderator"%}
          	<div class="comment-options">
              <a class="edit-btn" href="{% url "edit-comment" comment.pk %}">Edit</a>
              <a class="delete-btn" href="{% url "delete-comment" comment.pk %}">Delete</a>
            </div>
          {% endif %}
        </div>
      </article>
    {% empty %}
      <p>No comments yet. Be the first to comment this meal!</p>
    {% endfor %}

  </section>