<article class="recipe-card-alt">
  <a href="{% url "recipe_details" recipe.slug %}">
    <div class="recipe-thumb">
      <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">
    </div>
    <div class="recipe-body">
      <h2 class="recipe-name">{{ recipe.name }}</h2>
      <p class="recipe-meta"><strong>Cuisine</strong>: {{ recipe.cuisine }}</p>
      <p class="recipe-meta"><strong>Category</strong>: {{ recipe.category }}</p>
    </div>
  </a>
  <form method="post" action="{% url "remove-saved-recipe" recipe.slug %}">
    {% csrf_token %}
    <button class="remove-recipe-btn">Remove</button>
  </form>
</article>