{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/recipes/search-recipes.css" %}">
{% endblock %}

{% block title %}
  {{ author.username }} recipes
{% endblock %}

{% block content %}
  <main>
    <header>
      <h1>Recipes created by {{ author.username }}</h1>
    </header>

    {% include "common/messages.html" %}

    {% if  has_user_created_any_recipes %}
      {% include "common/search-bar.html" %}

      {% if recipes %}
      	{% include "recipes/recipe-grid.html" %}
      {% else %}
        <h2>No recipe suggestions...</h2>
      {% endif %}

      {% include "common/paginator.html" %}
    {% else %}
      <h2>{{ author.username }} has not created any recipes...</h2>
    {% endif %}

  </main>
{% endblock %}
