<article class="recipe-card">
  <a href="{% url "recipe_details" recipe.slug %}">
    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" class="recipe-img">
    <div class="recipe-info">
      <h2 class="recipe-name">{{ recipe.name }}</h2>
      <p class="recipe-meta"><strong>Cuisine</strong>: {{ recipe.cuisine }}</p>
      <p class="recipe-meta"><strong>Category</strong>: {{ recipe.category }}</p>
    </div>
  </a>

  {% if request.user.is_authenticated %}
    <form method="post" action="{% url "save-recipe" recipe.slug %}">
      {% csrf_token %}
      <button class="save-link">Save</button>
    </form>
  {% endif %}
</article>