{% extends "common/base.html" %}

{% load static %}
{% load has_group %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/recipes/recipe-details.css' %}">
{% endblock %}

{% block title %}
  {{ recipe.name }}
{% endblock %}

{% block content %}
  <section class="recipe-details-card">
    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" class="recipe-detail-img">

    <div class="recipe-detail-content">
      <header>
        <h1 class="recipe-title">{{ recipe.name }}</h1>
      </header>

      <div class="recipe-tags">
        <span class="tag">🍽 {{ recipe.category }}</span>
        <span class="tag">🌍 {{ recipe.cuisine }}</span>
      </div>

      {% if recipe.youtube_link %}
        <p class="youtube-link">
          🎥 <a href="{{ recipe.youtube_link }}" target="_blank">Watch video</a>
        </p>
      {% endif %}

      <p class="total-likes">Total likes: {{ total_likes }}</p>

      <h3>Ingredients:</h3>
      <ul class="ingredient-list">
        {% for recipe_ingredient in recipe.recipe_ingredients.all %}
          <li>
              {{ recipe_ingredient.measure }}
                -
              <a href="{% url "ingredient-details" ingredient_slug=recipe_ingredient.ingredient.slug %}">
                {{ recipe_ingredient.ingredient.name }}
              </a>
          </li>
        {% endfor %}
      </ul>

      <h3>📖 Instructions:</h3>
      <p class="instructions">{{ recipe.instructions }}</p>

      <p class="recipe-author">
        Recipe created by <a href="{% url "account-details" recipe.author.pk %}">{{ recipe.author.username }}</a>
      </p>

      <a class="like-recipe {% if has_user_liked %}liked{% endif %}"
         href="{% url "like-recipe" recipe.slug request.user.pk %}">
        {% if has_user_liked %}
          liked
        {% else %}
          like
        {% endif %}
      </a>


      {% if request.user == recipe.author or request.user.is_staff or request.user|has_group:"Recipe Editor" %}
        <a class="edit-recipe-btn" href="{% url "edit-recipe" recipe.slug %}">Edit</a>
        <a class="delete-recipe-btn" href="{% url "delete-recipe" recipe.slug %}">Delete</a>
      {% endif %}
    </div>


  </section>
  {% include "recipes/comment-section.html" %}

{% endblock %}