{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/recipes/search-recipes.css" %}">
{% endblock %}

{% block title %}
  {{ author.username }} recipes
{% endblock %}

{% block content %}
  <main>
    <header>
      <h1>Recipes created by {{ author.username }}</h1>
    </header>

    {% include "common/search-bar.html" %}

    {% include "common/messages.html" %}

    {% include "recipes/recipe-grid.html" %}

    {% include "common/paginator.html" %}
  </main>
{% endblock %}
