{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/recipes/saved-recipes.css" %}">
{% endblock %}

{% block title %}
	Saved Recipes
{% endblock %}

{% block content %}
	<main>
    {% include "common/search-bar.html" %}

    {% include "common/messages.html" %}

    {% if recipes %}
      {% for user_recipe in recipes %}
    	  {% include "recipes/recipe-card-alternative.html" %}
      {% endfor %}

      {% include "common/paginator.html" %}
    {% else %}
      <h2 class="no-recipe-h2">No recipes to show</h2>
    {% endif %}
  </main>
{% endblock %}
