{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/recipes/search-recipes.css" %}">
{% endblock %}

{% block title %}
  Search recipe
{% endblock %}

{% block content %}
  {% include "common/search-bar.html" %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for recipe in recipes %}
    {% include "recipes/recipe-card.html" with recipe=recipe %}
  {% endfor %}

  {% include "common/paginator.html" %}
{% endblock %}
