{% extends "common/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/recipes/search-recipes.css" %}">
{% endblock %}

{% block title %}
	Suggested recipes
{% endblock %}

{% block content %}
  {% if recipes %}
    {% include "common/search-bar.html" %}

  	<h1>Suggested recipes for {{ request.user.username }}</h1>

    {% for recipe in recipes %}
      {% include "recipes/recipe-card.html" with recipe=recipe %}
    {% endfor %}

    {% include "common/paginator.html" %}
  {% else %}
    <h1>No recipe suggestions...</h1>
  {% endif %}
{% endblock %}
